<html>
    <head>
        <title>Rolodexterous || Category</title>
    </head>
    <body>
        <h1>{{ category.getName }}</h1>

        {% if tasks is not empty %}
            <p></p>
        {% endif %}
    </body>
</html>
