<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rolodexterous || Contacts</title>
</head>
<body>
    <div class='container'>
        <h1>Contacts</h1>
        {% if contacts is not empty %}
            <p>Here are all your contacts:</p>
            <ul>
                {% for contact in contacts %}
                    <li>{{ contact.getName }}<br>
                        {{ contact.getPhoneNumber}}<br>
                        {{ contact.getAddress }}<br>
                        <a href='/contacts/{{ contact.getId }}/edit'>Edit this contact</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/contacts' method='post'>
            <div class='form-group'>
                <label for='contact_name'>Contact Name</label>
                <input id='contact_name' name='contact_name' type='text' required>
            </div>
            <div class='form-group'>
                <label for='contact_phone_number'>Contact Phone Number</label>
                <input id='contact_phone_number' name='contact_phone_number' type='text' required>
            </div>
            <div class='form-group'>
                <label for='contact_address'>Contact Address</label>
                <input id='contact_address' name='contact_address' type='text' required>
            </div>

            <button class='btn-info' type='submit'>Add Contact</button>
        </form>
        <form action='/delete_contacts' method='post'>
            <button class='btn-info' type='submit'>Delete All Contacts</button>
        </form>
    </div>
</body>
</html>
