<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Rolodexterous || Home</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Rolodexterous</h1>

            <p><a href="/contacts">Click here</a> to see all of your contacts and to add a new contact.</p>
            <!-- <p><a href="/categories">Click here</a> to see all of your categories and to add a new category.</p> -->
        </div>
    </body>
</html>
