<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Contacts</title>
    </head>
    <body>
        <h1>Welcome to Contact List</h1>

        <p><a href="/contacts">Click here</a> to see all of your contacts and to add a contact.</p>

    </body>
</html>
